@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}

h1 {
  text-align: right;
}

.container {
  background-color: aliceblue;
  transform-origin: top left;
  transition: transform 0.8s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.heading-container {
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  height: 120px;
  width: 100%;
  background-color: #ffd1dc;
  display: block;
  
}

.heading {
  padding: 30px 50px 20px 50px;

}

.circle {
  background-color: darkmagenta;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative; /* buttons inside will be absolute to this */
  transition: transform 0.8s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
  color: #fff;

}

nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 60%;
  margin: 50px auto;
  padding-top: 100px;
}

.content small {
  color: #666;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
  text-align: justify;
  padding-top: 20px;
}

.content h2 {
  color: #222;
  font-size: 26px;
}
.content h3 {
  color: #222;
  margin: 20px 0;
  font-size: 22px;
}
