@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: var(--secondary-color);
}

.search {
    background-color: rgba(55, 59, 105, 0.8);
    border: 2px solid var(--primary-color);
    color: #fff;
    padding: 0.5rem;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
 width: 300px;   
 margin: 1rem;
 background-color: var(--secondary-color);
 box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
 position: relative;
 overflow: hidden;
 border-radius: 5px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
} 

.main-info h3 {
    margin: 0 0 0.5rem;
}

.movie-info span {
 background-color: var(--primary-color);   
 padding: 0.2rem 0.5rem;
 border-radius: 7px;
 font-weight: bold;
}

.additional-info {
    margin: 0;
    display: block;
    color: #eee;
}

.movie-info span.green {
    color: #28a745;
}

.movie-info span.orange {
    color: #fd7e14;
}

.movie-info span.red {
    color: #dc3545;
}

.overview {
    padding: 1rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

.movie:hover .overview {
    transform: translateY(0);
}
