@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    background: url(https://images.unsplash.com/photo-1518391846015-55a9cc003b25?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center/cover;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    top: -30px;
    left: -30px;
    position: absolute;
    z-index: -1;
    filter: blur(70px);
}

.loader-text {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    color: #fff;   
    font-size: 2em;
    font-weight: bold;
}