@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #2b88f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

h3 {
    color: #fff;
    text-align: center;
    margin: 10px 0 20px;
    font-family: inherit;
}

.container {
    width: 450px;
    /* max-width: 800px; */

}

#textarea {
    border: none;
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: 0 0 20px;
    font-family: inherit;
    font-size: 16px;
}

.tag {
    background-color: #f0932b;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: #273c75;
}