@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
    --border-color: #3473f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(109, 211, 241);
    color: #fff;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--border-color);   
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 200px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
overflow: hidden;
}

.cup.cup-small {
    height: 95px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255,255, 255,0.8);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cup-small.full {
    background-color: var(--border-color);
    color:#fff;
}

.glasses {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    justify-content: center;
    align-items: center;
}

.remained {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex: 1;
     transition: 0.3s ease;
     text-align: center;
} 

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: var(--border-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}

text {
text-align: center;
margin: 10px 0 5px; 
}