@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --left-overlay-color: rgba(3, 36, 126, 0.7);
  --right-overlay-color: rgba(43, 43, 43, 0.8);
  --ps5-btn-color: rgba(3, 36, 126, 1);
  --xbox-btn-color: rgba(28, 122, 28, 1);
  --hover-width: 80%;
  --other-width: 20%;
  --width-transition: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.589);
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  border: 0.2rem solid #fff;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.split.left .btn:hover {
  background-color: var(--ps5-btn-color);
  border-color: var(--ps5-btn-color);
}

.split.right .btn:hover {
  background-color: var(--xbox-btn-color);
  border-color: var(--xbox-btn-color);
}

.hover-left .right {
  width: var(--other-width);
  transition: width var(--width-transition) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
  transition: width var(--width-transition) ease-in-out;
}

.hover-right .left {
  width: var(--other-width);
  transition: width var(--width-transition) ease-in-out;
}

.hover-right .right {
  width: var(--hover-width);
  transition: width var(--width-transition) ease-in-out;
}

.header-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("images/ps5-pro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.split.left::before {
  content: "";
  background-color: var(--left-overlay-color);
  position: absolute;
  width: 100%;
  height: 100%;
}

.split.right {
  right: 0;
  background: url("images/xbox-series-x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.split.right::before {
  content: "";
  background-color: var(--right-overlay-color);
  position: absolute;
  width: 100%;
  height: 100%;
}

.split.left,
.split.left::before,
.split.right,
.split.right::before {
  transition: width var(--width-transition) ease-in-out;
}

@media screen and (max-width: 768px) {
    
    h2 {
        font-size: 3rem;
        top: 25%;
    }
    
    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        width: 0.5rem 1;
    }
}
