@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(rgba(16, 166, 172, 0.9), rgba(0, 0, 0, 0.8)), 
    url("https://images.unsplash.com/photo-1556528487-e1bf676c7e0a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    padding:20px;
}

.container {
 background-color: rgb(217, 241, 241);
 padding: 2rem;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
 text-align: center;
 max-width: 100%;
 width: 800px;
}

h3 {
    font-size: 2.5rem;
    margin: 0;
    color: rgb(97, 107, 122);
    letter-spacing: 3px;    
}

.joke {
    font-size: 1.5rem;
    margin: 4rem auto;
    max-width: 600px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.btn {
 background-color: rgb(128, 0, 128);
 color: #fff;
 font-size: 1.5rem;
 font-weight: bold;
 padding: 0.5rem 1rem;
 border: none;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 cursor: pointer;   
}

.btn:active {
    transform: scale(0.95); 
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: plum;
}
