@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Clicker+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Mystery+Quest&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  padding: 5px 20px;
  position: absolute;
  color: #fff;
  background-color: rgb(4, 4, 131);
  border-radius: 10px;
  font-family: "Clicker Script", cursive;
}

.fa-globe {
  padding: 20px;
  font-size: 15em;
  position: relative;
  /* top: 10px; */
  left: 10px;
  color: blue;
  animation: spin 2s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 1.5em;
  color: #044085;
  text-align: center;
  font-family: "Clicker Script", cursive;
  padding: 0 5px;
  position: absolute;
  top: 18.5%;
  box-shadow: 0 0 10px rgba(10, 20, 30, 0.3);
  background-color: aliceblue;
}

p {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: rgb(104, 147, 185);
  color: #fff;
  display: block;
  width: 200px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  left: 10%;
  bottom: 1%;
  transform: translateX(-50%);
  z-index: 1;
}

.fa-angles-down {
  font-size: 2em;
  padding-top: 5px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  background-color: aliceblue;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* width: 90%; */
  max-width: 1900px;
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-box {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.img-box h3 {
  position: absolute;
  padding: 15px;
  color: #fff;
  font-size: 1.5em;
  bottom: 10px;
  left: 20px;
  background-color: rgba(100, 92, 92, 0.6);
  border-radius: 10px;
  transition: opacity 0.3s ease-in 0.4s;
}

.row {
    transform: translateX(400%);
    transition: transform 0.5s ease-in-out;
}

.row:nth-of-type(even) {
    transform: translateX(-400%);
}

.row.show {
    transform: translateX(0);
}
