@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 5rem auto;
}

.key {
  border: 2px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  position: relative;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #555;
}
