@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, #7d5fff, pink);

}

.search-widget {
 position: relative;
 height: 60px;   
}

.search-widget .input {
 background-color: #fff;
 border-radius: 30px;
 border: none;
 padding: 10px 20px;
 font-size: 2em;
 height: 60px;
 width: 60px;
 transition: width 0.3s ease;   
}

.btn {
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 2em;
    position:absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    transition: transform 0.3s ease;
    border-radius: 30px;
    color: darkcyan;
}

.btn:focus, 
.input:focus {
    outline: none;
}

.search-widget.active .input{
    width: 300px;
    border-radius: 30px 0 0 30px;
}

.search-widget.active .btn{
    transform: translateX(298px);
    border-radius: 0 30px 30px 0;
}