@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;   
}

.panel {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 0.7s ease-in;
}

.panel h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'BBH Bartle', sans-serif;
    line-height: 1.5;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    opacity: 0;
    padding: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.panel h3 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
    opacity: 1;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; 
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; 
}

@media(max-width: 680px){
    
    .container {
        width: 100vw;
    }

    .panel {
        margin: 10px;
    }

    .panel h1 {
        font-size: 3rem;
        left: 45%;
        top: 25%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-weight: bold;
        margin-top: 20px;
    }

    .panel:nth-of-type(6),
    .panel:nth-of-type(7) {
        display: none;
    }
}